 {% block title %}Projects{% endblock title %} 
 {% block style %}
<style>
  .projectsliform{text-decoration: underline;
    text-underline-offset: 6px;}
  .project {
    background-color: rgba(0, 0, 0, 0.526);
    width: 400px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .projectbtn{height: 70px;background-color: rgb(105, 200, 239);width: 360px;border-radius: 20px;}
</style>
{% endblock style %} {% block main %}

{% endblock main %}
